.main-page {
    background-color: #F3F3F5;
    font-family: 'SF Pro Display', sans-serif;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: url("/public/img/Line.png") no-repeat;
}

.main-section-text {
    display: flex;
    flex-direction: column;
}

.main-section-text-main h2 {
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 32px 0;
}

.main-section-text-main p {
    font-size: 20px;
    font-weight: 400;
    color: #7B7B7B;
    margin: 0;
}

.main-section-img {
    background: url('/public/img/g10.png') no-repeat;
}

.main-section-text-action {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}

.main-section-text-action p {
    font-size: 20px;
    font-weight: 400;
    color: #7B7B7B;
    margin: 0 0 24px 0;
}

.main-section-text-action-body {
    background-color: #fff;
    padding: 26px 32px;
    display: flex;
    flex-direction: row;
}

.main-section-text-action-body input {
    background-color: #F3F3F5;
    width: 150px;
    height: 48px;
    border: none;
    font-size: 16px;
    margin-right: 8px;
    padding: 0 12px;
}

.main-section-text-action-body select {
    background-color: #F3F3F5;
    width: 87px;
    height: 48px;
    border: none;
    font-size: 16px;
    margin-right: 8px;
}

.main-section-text-action-body button {
    background-color: #FFD400;
    padding: 14px 20px;
    width: 149px;
    height: 48px;
    font-size: 16px;
    border: none;
}

.main-section-info {
    margin-top: 138px;
    background-color: #fff;
    border-radius: 20px;
    padding: 50px 60px;
    margin-bottom: 80px;
}

.main-section-info ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.main-section-info li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-info h3 {
    font-size: 80px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    margin: 0;
}

.main-section-info p {
    font-size: 20px;
    color: #7B7B7B;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-section-info p img {
    margin-right: 8px;
}

.need-help {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.need-help-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.need-help-title p {
    font-size: 20px;
    color: #7B7B7B;
    margin: 0 0 18px 0;
}

.need-help-title h3 {
    margin: 0;
    font-size: 40px;
}

.need-help-body {
    margin-top: 80px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
    gap: 20px;
}

.card {
    border-radius: 12px;
    background-color: #fff;
    padding: 40px;
}

.card-img img {
    border-radius: 12px;
}

.card img {
    margin-bottom: 104px;
    width: 66px;
    height: 66px;
}

.card h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.card p {
    color: #2C2D2E;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
}

.card button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2C2D2E;
    color: #fff;
    border: none;
    padding: 14px 76px;
    border-radius: 4px;
}

.card button img {
    width: 16px;
    height: 16px;
    margin: 0 13px 0 0;
}

